<label for="task-title">Feladat:</label>
<Input id="task-title" @type="text" placeholder="Cím" @value={{this.title}} />
<label for="task-desc">Leírás:</label>
<Textarea id="task-desc" rows="3" @value={{this.description}} />
<button
  {{on "click" (fn this.addNewHandler)}}
  disabled={{this.buttonIsDisabled}}
>
  Hozzáadás
</button>